body {
  font-family: 'Source Sans Pro', sans-serif;
}

.d3-tip {
  transform: translateY(-5%);
}

.box--tip {
  width: 250px;
  transform: scale(0.8) translateY(12%);
}

.strike {
  text-decoration: line-through;
}

.has-border-bottom {
  border-bottom: 1px solid #363636;
}

.has-border-top {
  border-top: 1px solid #363636;
}
