movie-vocab-swarm/bees.html
movie-vocab-swarm/beeswarm.js


# exclude everything
srts/*
test_srts/*
prob_srts/*
more_prob_srts/*

# exception to the rule
!srts/.gitkeep 
data_check.ipynb
film_data_rework.ipynb